<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiceRoll | Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container col-xxl-8 px-4 py-5"></div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive left-aligned hero with image</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Why Join Us?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Discover the World of Board Games: Your Ultimate Blog Hub</h3>
        <p>Dive into the best board game blogs right here! Whether you're a seasoned gamer or a newcomer, explore, learn, and share your passion for board games.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Board Game Insights & Reviews at Your Fingertips</h3>
        <p>Looking for game recommendations, strategies, or news? Write your own blog or explore others' takes on all things board games, right here!</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Connect Through Board Games: Write and Explore Blogs with Us</h3>
        <p>Share your thoughts or dive into the latest insights from the board game community. Your go-to place for everything board games!</p>
      </div>
    </div>
  </div>
    <form action="/writing" method="GET">
      <input type="submit" value="Write Your Blog">
    </form>
    <% if (locals.blogText) { %>
      <h3>Your Texts: </h3>
      <form id="deleteForm" action="/action1" method="POST">
        <ol>
          <% blogTexts.forEach((text, index) => { %>
            <li>
              <%= text %>
              <input type="checkbox" name="deleteTexts" value="<%= index %>"> 
              <button type="submit" name="action" value="edit" formaction="/action1?editIndex=<%= index %>">Edit</button>
            </li>
          <% }); %>
        </ol>
        <button type="submit" name="action" value="delete">Delete Selected</button>
      </form>
  <% } else { %>
    
      <h3>You don't have any texts currently. If you want to write some, click Writing.</h3>
  <% } %>
  
  <%- include("partials/footer.ejs") %>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
